@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Playfair+Display:wght@700&display=swap');

/* Reset CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Variáveis para cores */
:root {
    --cor-primaria: #5a0a1b;
    --cor-secundaria: #f0e6d2;
    --cor-texto: #333333;
    --cor-destaque: #c9a959;
    --cor-navbar: #1E1E1C;

    --fonte-titulo: 'Playfair Display', serif;
    --fonte-corpo: 'Montserrat', sans-serif;

}

/* Estilos Globais */

.main-content {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

body {
    font-family: "Georgia",serif;
    background-color: var(--cor-secundaria);
    color: var(--cor-texto);
    font-family: var(--fonte-corpo);
}

h1,h2,h3,h4,h5,h6 {
    font-family: var(--fonte-titulo);
    color: var(--cor-primaria);
}

main {
    flex-grow: 1;
}

/* Estilos NavBar */



header {
    width: 100%;
    background-color: #1E1E1C;
}

.navbar {
    padding: 18px 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar ul {
    list-style: none;
    display: flex;
    gap: 30px;
}

.navbar a {
    text-decoration: none;
    color: #d4d4d4;
    font-weight: bold;
    font-size: 1rem;
}

.navbar a:hover {
    color: var(--cor-destaque);
}

/* Estilos Footer*/

footer {
    background-color: var(--cor-navbar);
    color: #d4d4d4;
    text-align: center;
    padding: 20px 0;
    width: 100%;
    margin-top: 40px;
}

.imagem-principal {
    height: 100px;
}